* {
   margin: 0px;
   padding: 0px;
}

.wrapper {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
}
 
body { 
	background: black url('../images/yellow_bg_leather.jpg');
}

.background{
	background: black url('../images/black_bg_noise.png') repeat;
}

.border {
	height:50px;
	background:rgba(12, 12, 12, 0.7);
	border-bottom: 1px solid #333;
}
 
.topcon {
	margin:0px auto;
	padding: 0px;
	width: 850px;
	background: black url('../images/black_bg_noise.png') repeat;
}

#topLinks {
	background:rgba(12, 12, 12, 0.7);
	border-bottom: 1px solid #333;
	width: 100%;
	height:50px;
}

.topLinks {
    padding: 10px 0px 0px 0px;
    margin: 0 auto;
    width:850px;
}

.topLinks ol {
	list-style:none;
	display:inline-block;
	float:right;
}

.topLinks li {
	display:inline-block;
	padding-right:5px;
}

/*** Styling the Logo ***/

#logo {
   width:850px;
   height: 126px;
   margin:0 auto;
   padding: 70px 0px 15px 0px;
   background:url('../images/logo-1.png') bottom center no-repeat;
}

#subscriptionPanel{
		width:				460px;
		height:				100%;
		margin:				40px auto 0 auto;
		padding:			5px 0px 15px 0px;
}

.btn {
		border:					1px solid #493F0B;
		cursor:					pointer;
		display:				block;
		margin:					10px auto;
		padding:				5px;
		text-align:				center;
		text-decoration:		none;
		width:					100px;

        color:					#fdfaf3;
		font-size:				16px;
		font-weight:			lighter;
		text-shadow:			-1px -1px 0 #444;
		line-height:					35px;
}

.display { 
        /* fallback */ 
	    height:			100%;
	    background-color: #f4c43c;
	    background:url('../images/background_img.png') repeat-x; 
	    background-image:linear-gradient(top, #f4c43c, #eda121);

        /* Safari 4-5, Chrome 1-9 */ 
	    background:     -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4c43c), to(#eda121));

        /* Safari 5.1, Chrome 10+ */ 
	    background:     -webkit-linear-gradient(top, #f4c43c, #eda121);

        /* Firefox 3.6+ */ 
	    background:     -moz-linear-gradient(top, #f4c43c, #eda121);
 
        /* IE 10 */ 
	    background:     -ms-linear-gradient(top, #f4c43c, #eda121);
 
        /* Opera 11.10+ */ 
	    background:     -o-linear-gradient(top, #f4c43c, #eda121);
} 

.btn:hover {
		/* fallback */ 
		height:				100%;
		background-color: 	#f3e6cd;
		background:			url('../images/background_img1.png') repeat-x;
		background-image:	linear-gradient(top, #f4b53c, #de780a);

		/* Safari 4-5, Chrome 1-9 */ 
		background: 		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4b53c), to(#de780a));
		
		/* Safari 5.1, Chrome 10+ */ 
		background: 		-webkit-linear-gradient(top, #f4b53c, #de780a);
		
		/* Firefox 3.6+ */ 
		background: 		-moz-linear-gradient(top, #f4b53c, #de780a);
		
		/* IE 10 */ 
		background: 		-ms-linear-gradient(top, #f4b53c, #de780a);
		
		/* Opera 11.10+ */ 
		background: 		-o-linear-gradient(top, #f4b53c, #de780a);
}

.btn:active{
		/* fallback */ 
		background-color: 	#f3e6cd;
		background:			url('../images/background_img2.png') repeat-x;
		background-image:	linear-gradient(top, #de780a, #f4b53c);

		/* Safari 4-5, Chrome 1-9 */ 
		background: 		-webkit-gradient(linear, 0% 0%, 0% 100%, from(#de780a), to(#f4b53c));
		
		/* Safari 5.1, Chrome 10+ */ 
		background: 		-webkit-linear-gradient(top, #de780a, #f4b53c);
		
		/* Firefox 3.6+ */ 
		background: 		-moz-linear-gradient(top, #de780a, #f4b53c);
		
		/* IE 10 */ 
		background: 		-ms-linear-gradient(top, #de780a, #f4b53c);
		
		/* Opera 11.10+ */ 
		background: 		-o-linear-gradient(top, #de780a, #f4b53c);		
}

.bottomcon{
	margin:					0 auto;
	padding:				0;
	width:					850px;
	height:					100%;
}

.shareWrapper{
	margin:0 auto;
	padding:20px 0px 250px 0px;
	width:850px;
	height:100%;
}

.texts
{
    position: relative;
    wid/th:850px;
    height:75px;
}

.texts ol {
		margin:				0 auto;
		
		width:				850px;
		height:				75px;
		list-style:			none;
		display:			inline;
}

.texts li{
		display:inline-block;
		padding:			0px 3px 0px 0px;
		width:150px;
		height:75px;
		margin:10px 0px;
}

.texts span{
	position:absolute;
	width: 150px;
	height:75px;
	overflow:hidden;
}

.text1
{
    background: url('../images/text1.png') no-repeat 0px 0px;
    position:absolute;
    top:0;
    left:10px;
}

.text2
{
    background: url('../images/text2.png') no-repeat 0px 0px;
    position:absolute;
    top:0;
    left:157px;
}

.text3
{
    background: url('../images/text3.png') no-repeat 0px 0px;
    position:absolute;
    top:0;
    left:310px;
}

.text4
{
    background: url('../images/text4.png') no-repeat 0px 0px;
    position:absolute;
    top:0;
    left:520px;
}

.text5
{
    background: url('../images/text5.png') no-repeat 0px 0px;
    position:absolute;
    top:0;
    left:690px;
}

.socialMediaLinks {
	width:				660px;
	margin:				30px auto 0 auto;
	padding: 			0px;
	height: 			100%;
}

.socialMediaLinks ol {
		margin:				0 auto;
		padding:			0px 3px 0px 0px;
		width:				440px;
		height:				55px;
		list-style:			none;
		display:			inline;
}

.socialMediaLinks li{
		display:inline-block;
		width:50px;
		height:50px;
		margin:0px 37px;
}

.icon{
	background: url('../images/social_media_links.png') no-repeat 0 0; 
	display:inline-block;
	height:47px;
	width:45px;
	margin:0px;
	overflow:hidden;
	tran/sition: background-position 0.25s ease 0s;
}

/* positioning */

.twitter{
	background: url('../images/social_media_links.png') no-repeat 0px 0px; 
}

.twi/tter:hover{
	background: url('../images/social_media_links.png') no-repeat 0px -47px; 
}

.facebook{
	background: url('../images/social_media_links.png') no-repeat -45px 0px; 
}

.face/book:hover{
	background: url('../images/social_media_links.png') no-repeat -45px -47px; 
}

.wordpress{
	background: url('../images/social_media_links.png') no-repeat -90px 0px; 
}

.word/press:hover{
	background: url('../images/social_media_links.png') no-repeat -90px -47px; 
}

.mail{
	background: url('../images/social_media_links.png') no-repeat -135px 0px; 
}

.mai/l:hover{
	background: url('../images/social_media_links.png') no-repeat -135px -47px; 
}

.linkedIn{
	background: url('../images/social_media_links.png') no-repeat -180px 0px; 
}

.link/edIn:hover{
	background: url('../images/social_media_links.png') no-repeat -180px -47px; 
}

.transparency{
	background: 		rgba(0, 0, 0, 0.5);
    -pie-background:  	rgba(0, 0, 0, 0.5);
    behavior: 			url(PIE.htc);
}

.radial-center { 

	/* fallback */ 
	background-color: #ffcc33; 
	background-image: url(../images/radial_bg.png); 
	background-position: center center; 
	background-repeat: no-repeat; 
	
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727)); 
	
	/* Safari 5.1+, Chrome 10+ */ 
	background: -webkit-radial-gradient(circle, #1a82f7, #2F2727); 
	
	/* Firefox 3.6+ */ 
	background: -moz-radial-gradient(circle, #1a82f7, #2F2727); 
	
	/* IE 10 */ 
	background: -ms-radial-gradient(circle, #1a82f7, #2F2727); 
	
	/* Opera cannot do radial gradients yet */ 
}

hr, .linebreak {
	width: 660px;
	clear: both;
	border: none;
	border-top: 1px solid #8b6703;
	background: #e1b233;
	height: 1px;
	font-size: 1px;
	margin: 0 auto;
}

.shareIcons {
	width:				660px;
	margin:				30px auto;
	padding: 			0;
	height: 			100%;
}

.shareIcons ol{
	width:660px;
	margin:20px auto;
}

.shareIcons li{
	display:inline-block;
	width:162px;
	height:162px;
	mar/gin:1px 3px 1px 0px;
}

.share{
	background:transparent url('../images/share_icon_bg.png') no-repeat center 0;
	display:inline-block;
	width:146px;
	height:148px;
	margin:0px;
}

.t:hover{
	
	background: transparent url('../images/share_icon_bg.png') no-repeat center -160px; 
}

.f:hover{
	background: transparent url('../images/share_icon_bg.png') no-repeat center -320px; 
}

.l:hover{
	background: transparent url('../images/share_icon_bg.png') no-repeat center -480px; 
}

.g:hover{
	background: transparent url('../images/share_icon_bg.png') no-repeat center -640px; 
}

.position{
	position:absolute;
	padding:46px 0px 0px 55px;
}

.twitter-share-button{
	position:absolute;
	padding:46px 0px 0px 50px;
}

.IN-widget{
	position:absolute;
	padding:46px 0px 0px 50px;
}

span.stButton {
	position:absolute;
	padding:45px 50px;
}

#footer{
	text-align:center;
	border/-top: 1px solid #fff;
	width:100%;
	margin:0 auto;
	min-height:-20px;
	line-height:50px;
	height:100px;
	clear:both;
}

.tooltip{
    position:absolute;
    z-index:999;
    left:-9999px;
    background-color:transparent;
    padding:2px;
    border:1px solid #fff;
    width:250px;
}

.tooltip p{
    margin:0;
    padding:0;
    color:#fff;
    background-color:#222;
    padding:2px 7px;
}